header{
    
  background-color: #FAF3E0;
  color: black;
  font-size: 1.2rem;

}

body{
  background-color: #FAF3E0;
}


.carousel-item img{
    
    max-height: 500px;
}

.custom-img {
  max-width: 45%;
  max-height: 45%;
  width: auto;
  height: auto;
  border-radius: 10px;
  }

  .bi{
    font-size: 1.5rem ;
  }


  #contacto{
    background-color: #2C3E50;
    color: white;
    

  }

  @media (max-width: 768px) {
    .custom-img {
      max-width: 100%; /* En pantallas pequeñas, las imágenes ocuparán todo el ancho disponible */
      margin-bottom: 15px;
    }
    .d-flex {
      flex-direction: column; /* Coloca las imágenes en una columna en pantallas pequeñas */
    }

    .custom-2{
        display: none;
    }
  }
